@{
    ViewBag.Title = "Laptop";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/Content/productstyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css" />
</head>
<body>
    <section style="height:40px;">
        <div class="container">
            <ul class="link">

                <li><a href="~/Home/Index">Laptop</a></li>
                <li><p class="sort-total"><i class="fa-solid fa-chevron-right" style="color: #000000;"></i><b style="font-size:14px;margin-left:4px;">76</b> Laptop Gaming</p></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container">
            <div style="display:flex;">
                <a href=""><img style="width:800px; height: 200px;" src="https://cdn.tgdd.vn/2023/08/banner/b2s-1200-300-1200x300.png" /></a>
                <ul style="display:block; margin-left: 10px;">
                    <li><a href=""><img style="width:380px; height: 95px;" src="https://cdn.tgdd.vn/2023/04/banner/itelintel-390x97.png" /></a></li>
                    <li><a href=""><img style="width:380px; height: 95px; margin-top:5px;" src="https://cdn.tgdd.vn/2023/02/banner/laptop-xa-kho-390-97-390x97.png" /></a></li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="filter-total">
                <div class="filter-item">
                    <i class="fa-solid fa-filter" style="color: #000000;"></i>Bộ lọc
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    Hãng<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    Giá<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    Laptop Gaming<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    Màn hình<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    CPU<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    RAM<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    Ổ cứng<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
            <div class="filter-total">
                <div class="filter-item">
                    Tính năng đặc biệt<i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container" style=" margin-top: 170px;">
            <a style="color: #2f80ed; font-size:15px;" href=""><i class="fa-solid fa-circle-info" style="color: #2f80ed;"></i> Tìm hiểu về Laptop Gaming<i class="fa-solid fa-sort-down fa-sm" style="color: #2f80ed; margin-left:6px;"></i></a>
        </div>
    </section>
    <div class="gaming" style=" height: 1400px; margin-bottom:800px;">
        <section>
            <div class="container">
                <div class="slider-product1-content-items-content">
                    <div class="slider-product1-content-items">
                        <div class="slider-product1-content-item-text">
                            <table id="all-prod-gaming">
                                <tr>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/285962/hp-240-g8-i3-6l1a1pa-210423-031503-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/291965/acer-aspire-3-a315-57-379k-i3-nxkagsv001-ab-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/309721/lenovo-ideapad-3-15itl6-i3-82h803sgvn-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/305010/asus-vivobook-x515ea-i3-ej3948w-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/311395/singpc-m16-i7-m16i7108m5-w-050823-113229-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon2.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="slider-product1-content-items">
                        <div class="slider-product1-content-item-text">
                            <table id="all-prod-gaming">
                                <tr>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/285962/hp-240-g8-i3-6l1a1pa-210423-031503-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/291965/acer-aspire-3-a315-57-379k-i3-nxkagsv001-ab-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/309721/lenovo-ideapad-3-15itl6-i3-82h803sgvn-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/305010/asus-vivobook-x515ea-i3-ej3948w-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/311395/singpc-m16-i7-m16i7108m5-w-050823-113229-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon2.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="slider-product1-content-items">
                        <div class="slider-product1-content-item-text">
                            <table id="all-prod-gaming">
                                <tr>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/285962/hp-240-g8-i3-6l1a1pa-210423-031503-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/291965/acer-aspire-3-a315-57-379k-i3-nxkagsv001-ab-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/309721/lenovo-ideapad-3-15itl6-i3-82h803sgvn-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/305010/asus-vivobook-x515ea-i3-ej3948w-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/311395/singpc-m16-i7-m16i7108m5-w-050823-113229-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon2.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="slider-product1-content-items">
                        <div class="slider-product1-content-item-text">
                            <table id="all-prod-gaming">
                                <tr>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/285962/hp-240-g8-i3-6l1a1pa-210423-031503-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/291965/acer-aspire-3-a315-57-379k-i3-nxkagsv001-ab-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/309721/lenovo-ideapad-3-15itl6-i3-82h803sgvn-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/305010/asus-vivobook-x515ea-i3-ej3948w-thumb-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon1.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                    <td style="width:19%; background-color: #fff; border:0;" id="prod-td">
                                        <a href=""><img style="width: 200px; display: flex; cursor: pointer;" id="laptop" src="https://cdn.tgdd.vn/Products/Images/44/311395/singpc-m16-i7-m16i7108m5-w-050823-113229-600x600.jpg" /></a>
                                        <img style="width:120px" src="~/img/icon2.png" />
                                        <p style="font-size:15px;"><a href="">Laptop HP 240 G8 i3 1115G4<br />(6L1A1PA)</a></p>
                                        <a href=""><span>RAM 8 GB</span><span>SSD 256 GB</span></a>
                                        <a href=""><p><i class="fa-regular fa-circle-check" style="color: #ff0000;"></i> Online giá rẻ</p></a>
                                        <a href=""><p id="old-price">12.990.000₫ </p></a>
                                        <a href=""><p id="discount"> -30%</p></a>
                                        <a href=""><p id="new-price">8.990.000₫</p></a>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #f09800;"></i>
                                        <i class="fa-sharp fa-solid fa-star" style="color: #d1d1d1;"></i><p style="display:inline;"> 64</p>
                                        <p>Màn hình: 14", Full HD</p>
                                        <p>CPU: i3, 1115G4, 3GHz</p>
                                        <p>Card: Intel UHD</p>
                                        <p>Pin: 3-cell, 41Wh</p>
                                        <p>Khối lượng: 1.47 kg</p>
                                        <a href=""><p id="ss"><i class="fa-sharp fa-solid fa-circle-plus" style="color: #005eff;"></i> So sánh</p></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <form action=""><button id="moreprd" style="margin-top: 15px; border: 1px solid #e0e0e0;" class="all-laptop"><p style="margin-right: 5px; display:inline;">Xem thêm 56 Laptop </p><i class="fa-solid fa-sort-down fa-sm" style="color: #000000;"></i></button></form>
                </div>
            </div>

        </section>
    </div>
</body>
</html>